* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px solid green; */
}


 ul li {
    list-style: none;
}

a {
    text-decoration: none;
}


#header {
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(73, 71, 71);
}

#headerUlEl, a {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    color: rgb(126, 10, 126);
    font-weight: bold;
}

#contentHolder p {
    max-width: 800px;
}

#title, #title2 {
    font-size: 50px;
}

#main, #main2 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    margin: 100px auto;
}

#main > *, #main2 > * {
    margin: 20px;
}

#main > button {
    width: fit-content;
    font-size: 20px;
}


#contentHolder, #contentHolder2 {
    display: flex;
    flex-flow: column nowrap;
}

#contentHolder > *{
    align-self: center;
    width: auto;
    margin: 5px;
}

#contentHolder2 > * {
    align-self: center;
    margin: auto;
} 

#startBtn,  #submitBtn, #back-btn {
    height: auto;
    width: 200px;
    padding: 10px 20px;
    font-size: 25px;
    margin: 10px;
    background-color: rgb(55, 35, 100);
    color: white;
    border-radius: 12px;
}

#clear-btn, #clear-btn-2 {
    height: auto;
    width: 200px;
    padding: 10px 20px;
    font-size: 25px;
    margin: 10px;
    background-color: rgb(133, 13, 23);
    color: white;
    border-radius: 12px;
}

#startBtn:hover, #submitBtn:hover {
    background-color: rgb(107, 74, 110);
}

#clear-btn:hover,  #clear-btn-2:hover {
    background-color: rgb(187, 23, 23);
}

#optionsContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: auto;
}

.option-btn {
    padding: 10px;
    width: 400px;
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(166, 134, 175);
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

.option-btn:hover {
    background-color: rgb(77, 39, 104);
}


form > * {
    margin: 10px;
}

input {
    padding: 10px;
    border-radius: 8px;
    outline: none;
}

.score-list-container, .score-list-container-2 {
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
}


.score-list-item, .score-list-item-2 {
    margin: 5px;
    padding: 5px;
    border-bottom: 4px solid rgb(90, 26, 90);
    background-color: rgb(194, 149, 201);
    text-align: left;
}


.back-clear-btns {
    display: flex;
    justify-content: space-between;
}
.back-clear-btns button {
    margin: 10px
}

